{% trans_default_domain 'XactOPCacheDashboard' %}
<!DOCTYPE html>
<html lang="{{ app.request.attributes.get('_locale', 'en') }}">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>OPCache Dashboard</title>
		<link href="{{ asset('bundles/xactopcachedashboard/css/bootstrap.min.css') }}" rel="stylesheet">
		<script type="text/javascript" src="{{ asset('bundles/xactopcachedashboard/js/jquery.min.js') }}"></script>
		<script type="text/javascript" src="{{ asset('bundles/xactopcachedashboard/js/fontawesome/all.js') }}"></script>
	</head>
	<body>
		<div class="jumbotron mt-5">
			<div
				class="container">
				<div class="row">
					<div class="col-12">
						{% block content %}{% endblock content %}
					</div>
				</div>
				<hr>
				<footer>
					{% block footer %}{% endblock footer %}
				</footer>
			</div>
		</div>
		<script type="text/javascript" src="{{ asset('bundles/xactopcachedashboard/js/bootstrap.bundle.min.js') }}"></script>
	</body>
</html>
